:root {
  --primary: #8e44ad;
  --accent: #f5b7b1;
  --bg: #fbf7f4;
  --text: #2c3e50;
  --card: #ffffff;
  --section: #f3e9e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}


nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover {
  color: var(--primary);
  background-color: var(--section);
}

section {
  padding: 80px 40px;
  max-width: 1200px;
  margin: auto;
}

.hero {
  text-align: right;
  max-width: 1200px;
  height: 520px;
  padding-top: 100px;
  margin-top: 80px;

  background-image: url("../images/Hanna-no-bg.png");
  background-size: 50%;
  background-position: top left;
  background-repeat: no-repeat;
}

.hero h1 {
  font-size: 56px;
  color: var(--primary);
}

.hero p {
  font-size: 24px;
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: purple;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

p {
  font-size: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.card {
  background: var(--card);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary);
}


/* About Section Styles */
#about h2 {
  position: absolute;
  top: -40px;
  right: 60px;

  font-family: "Gloria Hallelujah", cursive;
  font-size: 56px;
  color: var(--primary);

  white-space: nowrap;
  pointer-events: none;
}

#about {
  background-color: var(--section);
  border-radius: 16px;
  position: relative;
}


.about-row {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.about-row p {
  flex: 1;
  margin: 0; 
  text-align: left;
}

.about-row img {
  width: 500px;
  max-width: 40%;
  display: block;
  border-radius: 8px;
}

.card h2 {
  font-size: 26px;
}


/* Skills Section Styles */
#skills .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

#skills .grid .card h1 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 100px;
  text-align: center;
  color: var(--primary);
}

.story-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

/* Portfolio Section Styles */
#portfolio .box-section-style {
  background-color: var(--section);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 40px;
}

/* Price Section Styles */
#pricing .grid .card h2 {
  font-size: 28px;
  color: var(--primary);
}

#pricing .grid .card h3 {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #111;
  margin-bottom: 12px;
} 

.card ul {
  padding-left: 18px;
  margin-bottom: 24px;
}

.card li {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 8px;
}

.card li:nth-child(-n+3) {
  color: #222;
  font-weight: 500;
}

.badge {
  background: #8e44ad;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}

.grid .card .for {
  font-size: 13px;
  color: #888;
  font-style: italic;
  margin-bottom: 12px;
}

.meta-title {
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-bottom: 12px;
}

.result {
  margin-top: 16px;
  font-weight: 600;
  color: #6c2bd9; 
  font-size: 14px;
  margin-bottom: 24px;
}

.card-content {
  flex-grow: 1;
}

.card-price {
  margin-top: auto;
  font-weight: bold;
  color: var(--primary);
  text-align: center;
}

/* Contact Section Styles */
.contact-section h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 56px;
  color: var(--primary);
  margin-bottom: 16px;
}

#contact {
  padding: 100px 40px;
  text-align: center;
}

.contact-subtitle {
  max-width: 600px;
  margin: 0 auto 60px;
  font-size: 18px;
  color: var(--text-light);
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 24px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-card {
  background-color: var(--card);
  border-radius: 20px;
  padding: 16px 16px;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  transition: all 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-6px);
  background-color: var(--section);
  color: var(--primary);
}

.contact-card:active {
  transform: translateY(-2px);
}

footer {
  text-align: center;
  padding: 40px;
  background: #f2f3f4;
} 