:root {
  --primary: #8e44ad;
  --accent: #f5b7b1;
  --bg: #fbf7f4;
  --text: #2c3e50;
  --card: #ffffff;
  --section: #f3e9e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}


nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

nav a:hover {
  color: var(--primary);
}

section {
  padding: 80px 40px;
  max-width: 1200px;
  margin: auto;
}

.hero {
  text-align: right;
  max-width: 1200px;
  height: 520px;
  padding-top: 100px;
  margin-top: 80px;

  background-image: url("../images/Hanna-no-bg.png");
  background-size: 50%;
  background-position: top left;
  background-repeat: no-repeat;
}

.hero h1 {
  font-size: 52px;
  color: var(--primary);
}

.hero p {
  font-size: 24px;
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
  padding: 12px 24px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;

}

#about {
  background-color: var(--section);
  border-radius: 20px;
}

p {
  font-size: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

.card {
  background: var(--card);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary);
}

footer {
  text-align: center;
  padding: 40px;
  background: #f2f3f4;
}